# サポートファイル
HELP.md

# Gradle関連
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# 外部ライブラリのディレクトリを無視
/node_modules/
/bower_components/
*.jar
*.war

# Gradle Wrapper（例外的にバージョン管理するファイル）
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA関連
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# Spring Tool Suite (STS)関連
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans関連
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code関連
.vscode/

# ログファイルを無視
logs/*.log
spring.log

# ビルド成果物を無視
/target/

# コンパイルされたクラスファイルを無視
*.class