name: Java CI with CodeQL

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "0 0 * * 1" # Every Monday at 00:00 UTC

jobs:
  analyze:
    name: Analyze code with CodeQL
    runs-on: ubuntu-latest
    
    permissions:
      actions: read
      contents: read
      security-events: write
    
    strategy:
      fail-fast: false
      matrix:
        language: [ 'java' ] # Add other languages as needed
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'gradle'
      
      - name: Convert line endings of gradlew
        run: dos2unix ./gradlew
      
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: ${{ matrix.language }}
      
      - name: Build the project
        run: ./gradlew build --no-daemon --info --stacktrace
      
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3
